*
{
    margin: 0;
    padding: 0;
}
/* 
#overflo-scroll{
    border: 2px solid black;
    height: 200px;
    margin: 10px;
    overflow: scroll;
}

#overflo-hidden{
    border: 2px solid black;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}

#overflo-auto{
    border: 2px solid black;
    height: 200px;
    margin: 10px;
    overflow: auto;
}

#overflo-visible{
    border: 2px solid black;
    height: 200px;
    margin: 10px;
    overflow:visible;
    margin-bottom: 100px;
}

#overflo-clip{
    border: 2px solid black;
    height: 200px;
    margin: 10px;
    overflow: clip;
    overflow-clip-margin: 20px;

}

.rel
{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
}

.fix
{
    width: 100px;
    height: 100px;
    background-color: green;
    position: fixed;
    top: 100px;
    left: 100px;
}

.stick
{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: sticky;
    top: 200px;
    left: 200px;
}

.stat
{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: static;
    top: 300px;
    left: 300px;
}

.abs
{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
}

.pagination
{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.pagination a
{
    color: gray;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid gray;
}

.pagination a.active
{
    background-color: blue;
    color: white;
    border-color: blue;

}

.pagination a:focus
{
    outline: none;
    background-color: blue;
    color: white;
    border-color: blue;
}

.pagination a:hover:not(.active)
{
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

button
{
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
}

button:hover
{
    background-color: blue;
    color: white;
}

button:active
{
    background-color: green;
    color: white; 
}


img
{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.oil
{
    height: 100px;
    width: 100px;
    float: right;
    margin-left: 10px;
}

.float1
{
    height: 210px;
    border: 2px solid black;
    display: flow-root;
    margin: 20px;
}

.box1
{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px;
    background-color: red;
    margin-left: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px blueviolet;
}

.text1
{
    color: black;
    background-color: yellow;
    font-family: sans-serif;
    margin-left: 200px;
    font-size: large;
    text-shadow: 10px 10px 10px blueviolet;
}
 */
/* 
 Imaging

 .img-1 img {
    width: 200px;
    height: 200px;
 }

 .img-1
 {
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid hsla(0, 0%, 50%, 0.918);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}

.img-1 img:hover
{
    border: 2px solid hsla(0, 0%, 50%, 0.295);
}

.imaging
{
    text-align: center;
    box-shadow: 3px 3px 3px gray;
    margin: 20px;
}

label
{
    padding-top: 20px;
} */


/* 
Icons

i{
    padding: 20px;
    transition-duration: 200ms;
    border: 2px solid hsla(0, 0%, 0%, 0.685);
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

i:hover{
    background-color: hsla(0, 0%, 0%, 0.1);
    border: 2px solid hsla(0, 0%, 0%, 0.9);
}

div{
    text-align: center;
    display: flex;
    justify-content: center;
} 
    
*/
/* 
.box1
{
    height: 100px;
    width: 100px;
    background-color: yellow;
    text-align: center;
}
.box2
{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
}
.box3
{
    height: 100px;
    width: 100px;
    background-color: red;
    text-align: center;
}
.box4
{
    height: 100px;
    width: 100px;
    background-color: blue;
    text-align: center;
}
.box5
{
    height: 100px;
    width: 100px;
    background-color: violet;
    text-align: center;
}

label
{
    font-size: x-large;
    font-weight: bold;
}
.flexbox
{
    display: flex;
    flex-wrap: wrap;

} */

